--
-- PostgreSQL database dump
--

\restrict IUZjFXDfU0SuvatQYlZ4uPPTy2rGX4ltc0O7FfCM4QLTHDZcJuE3iuMykhGOacI

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    email character varying(254) NOT NULL,
    full_name character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    organization_id bigint
);


ALTER TABLE public.accounts_user OWNER TO postgres;

--
-- Name: accounts_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.accounts_user_groups OWNER TO postgres;

--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.accounts_user_user_permissions OWNER TO postgres;

--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: attendance_attendancerecord; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendance_attendancerecord (
    id uuid NOT NULL,
    date date NOT NULL,
    clock_in_time timestamp with time zone,
    clock_out_time timestamp with time zone,
    status character varying(20) NOT NULL,
    is_present boolean NOT NULL,
    is_late boolean NOT NULL,
    total_hours numeric(5,2),
    notes text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    organization_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.attendance_attendancerecord OWNER TO postgres;

--
-- Name: attendance_attendancesettings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendance_attendancesettings (
    id uuid NOT NULL,
    working_hours_start time without time zone NOT NULL,
    working_hours_end time without time zone NOT NULL,
    late_threshold_minutes integer NOT NULL,
    auto_checkout_enabled boolean NOT NULL,
    auto_checkout_minutes integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    organization_id bigint NOT NULL
);


ALTER TABLE public.attendance_attendancesettings OWNER TO postgres;

--
-- Name: attendance_checkinevent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendance_checkinevent (
    id uuid NOT NULL,
    event_type character varying(20) NOT NULL,
    is_check_in boolean NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    notes text,
    created_at timestamp with time zone NOT NULL,
    attendance_record_id uuid NOT NULL,
    geofence_id uuid,
    user_id bigint NOT NULL
);


ALTER TABLE public.attendance_checkinevent OWNER TO postgres;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: geofencing_geofence; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.geofencing_geofence (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    latitude numeric(9,6) NOT NULL,
    longitude numeric(9,6) NOT NULL,
    radius_meters integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_by_id bigint,
    organization_id bigint NOT NULL
);


ALTER TABLE public.geofencing_geofence OWNER TO postgres;

--
-- Name: geofencing_locationupdate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.geofencing_locationupdate (
    id uuid NOT NULL,
    latitude numeric(9,6) NOT NULL,
    longitude numeric(9,6) NOT NULL,
    accuracy integer,
    is_inside_geofence boolean NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    geofence_id uuid,
    user_id bigint NOT NULL
);


ALTER TABLE public.geofencing_locationupdate OWNER TO postgres;

--
-- Name: organizations_employeeinvite; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizations_employeeinvite (
    id bigint NOT NULL,
    email character varying(254) NOT NULL,
    token uuid NOT NULL,
    is_used boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    organization_id bigint NOT NULL
);


ALTER TABLE public.organizations_employeeinvite OWNER TO postgres;

--
-- Name: organizations_employeeinvite_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.organizations_employeeinvite ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.organizations_employeeinvite_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: organizations_organization; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizations_organization (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    subdomain character varying(50) NOT NULL,
    subscription_plan character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.organizations_organization OWNER TO postgres;

--
-- Name: organizations_organization_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.organizations_organization ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.organizations_organization_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: accounts_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: accounts_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: accounts_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: attendance_attendancerecord; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: attendance_attendancesettings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attendance_attendancesettings (id, working_hours_start, working_hours_end, late_threshold_minutes, auto_checkout_enabled, auto_checkout_minutes, created_at, updated_at, organization_id) FROM stdin;
e82ff1d3-3e21-4806-937b-71959e1721ae	09:00:00	18:00:00	30	t	5	2026-04-09 14:52:40.939153+05:30	2026-04-09 15:13:27.242428+05:30	94
f20c4333-f250-490a-8843-3934631baccb	09:00:00	18:00:00	30	f	5	2026-04-09 16:11:00.602492+05:30	2026-04-09 16:16:26.164578+05:30	95
\.


--
-- Data for Name: attendance_checkinevent; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	group
3	auth	permission
4	contenttypes	contenttype
5	sessions	session
6	accounts	user
7	organizations	organization
8	organizations	employeeinvite
9	geofencing	geofence
10	geofencing	locationupdate
11	attendance	attendancerecord
12	attendance	attendancesettings
13	attendance	checkinevent
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
e532wjtt6aphegwxwd0msem227a4ckfg	.eJxVjEEOwiAQRe_C2hAHoYBL956BDDNTqRpISrsy3l2bdKHb_977L5VwXUpau8xpYnVWoA6_W0Z6SN0A37HemqZWl3nKelP0Tru-NpbnZXf_Dgr28q1dEBJvxggUIZhBTgIcCMYsHIzYzMTRGXIOCKKVgHwkHHL2bA15VO8PAhE49w:1vxf10:BUYmGyyScl27xYyEkoM2Kvd1Kat-YQpmdZH2g9tkdxg	2026-03-18 11:13:22.756721+05:30
\.


--
-- Data for Name: geofencing_geofence; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: geofencing_locationupdate; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: organizations_employeeinvite; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organizations_employeeinvite (id, email, token, is_used, created_at, expires_at, organization_id) FROM stdin;
\.


--
-- Data for Name: organizations_organization; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organizations_organization (id, name, subdomain, subscription_plan, is_active, created_at) FROM stdin;
1	Acme Corp	acme	basic	t	2026-03-04 12:19:18.588543+05:30
94	Demo Organization	demo-org	basic	t	2026-04-09 09:44:11.87529+05:30
95	Tech Startup Inc	techstartup	basic	t	2026-04-09 16:10:57.05501+05:30
42	Demo Corp	demo-corp	basic	t	2026-04-08 12:08:40.518337+05:30
\.


--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_user_groups_id_seq', 1, false);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_user_id_seq', 145, true);


--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 52, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 13, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 23, true);


--
-- Name: organizations_employeeinvite_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.organizations_employeeinvite_id_seq', 1, false);


--
-- Name: organizations_organization_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.organizations_organization_id_seq', 95, true);


--
-- Name: accounts_user accounts_user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_email_key UNIQUE (email);


--
-- Name: accounts_user_groups accounts_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_groups accounts_user_groups_user_id_group_id_59c0b32f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_group_id_59c0b32f_uniq UNIQUE (user_id, group_id);


--
-- Name: accounts_user accounts_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq UNIQUE (user_id, permission_id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: attendance_attendancerecord attendance_attendancerecord_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_attendancerecord
    ADD CONSTRAINT attendance_attendancerecord_pkey PRIMARY KEY (id);


--
-- Name: attendance_attendancerecord attendance_attendancerecord_user_id_date_29147647_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_attendancerecord
    ADD CONSTRAINT attendance_attendancerecord_user_id_date_29147647_uniq UNIQUE (user_id, date);


--
-- Name: attendance_attendancesettings attendance_attendancesettings_organization_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_attendancesettings
    ADD CONSTRAINT attendance_attendancesettings_organization_id_key UNIQUE (organization_id);


--
-- Name: attendance_attendancesettings attendance_attendancesettings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_attendancesettings
    ADD CONSTRAINT attendance_attendancesettings_pkey PRIMARY KEY (id);


--
-- Name: attendance_checkinevent attendance_checkinevent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_checkinevent
    ADD CONSTRAINT attendance_checkinevent_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: geofencing_geofence geofencing_geofence_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.geofencing_geofence
    ADD CONSTRAINT geofencing_geofence_pkey PRIMARY KEY (id);


--
-- Name: geofencing_locationupdate geofencing_locationupdate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.geofencing_locationupdate
    ADD CONSTRAINT geofencing_locationupdate_pkey PRIMARY KEY (id);


--
-- Name: organizations_employeeinvite organizations_employeeinvite_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations_employeeinvite
    ADD CONSTRAINT organizations_employeeinvite_pkey PRIMARY KEY (id);


--
-- Name: organizations_employeeinvite organizations_employeeinvite_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations_employeeinvite
    ADD CONSTRAINT organizations_employeeinvite_token_key UNIQUE (token);


--
-- Name: organizations_organization organizations_organization_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations_organization
    ADD CONSTRAINT organizations_organization_pkey PRIMARY KEY (id);


--
-- Name: organizations_organization organizations_organization_subdomain_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations_organization
    ADD CONSTRAINT organizations_organization_subdomain_key UNIQUE (subdomain);


--
-- Name: accounts_user_email_b2644a56_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_email_b2644a56_like ON public.accounts_user USING btree (email varchar_pattern_ops);


--
-- Name: accounts_user_groups_group_id_bd11a704; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_groups_group_id_bd11a704 ON public.accounts_user_groups USING btree (group_id);


--
-- Name: accounts_user_groups_user_id_52b62117; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_groups_user_id_52b62117 ON public.accounts_user_groups USING btree (user_id);


--
-- Name: accounts_user_organization_id_d808f5ca; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_organization_id_d808f5ca ON public.accounts_user USING btree (organization_id);


--
-- Name: accounts_user_user_permissions_permission_id_113bb443; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_user_permissions_permission_id_113bb443 ON public.accounts_user_user_permissions USING btree (permission_id);


--
-- Name: accounts_user_user_permissions_user_id_e4f0a161; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_user_permissions_user_id_e4f0a161 ON public.accounts_user_user_permissions USING btree (user_id);


--
-- Name: attendance__event_rec_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX attendance__event_rec_idx ON public.attendance_checkinevent USING btree (attendance_record_id);


--
-- Name: attendance__event_user_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX attendance__event_user_idx ON public.attendance_checkinevent USING btree (user_id, "timestamp" DESC);


--
-- Name: attendance__is_late_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX attendance__is_late_idx ON public.attendance_attendancerecord USING btree (is_late);


--
-- Name: attendance__org_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX attendance__org_date_idx ON public.attendance_attendancerecord USING btree (organization_id, date DESC);


--
-- Name: attendance__user_id_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX attendance__user_id_date_idx ON public.attendance_attendancerecord USING btree (user_id, date DESC);


--
-- Name: attendance_attendancerecord_organization_id_5c498be0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX attendance_attendancerecord_organization_id_5c498be0 ON public.attendance_attendancerecord USING btree (organization_id);


--
-- Name: attendance_attendancerecord_user_id_1bb6e31f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX attendance_attendancerecord_user_id_1bb6e31f ON public.attendance_attendancerecord USING btree (user_id);


--
-- Name: attendance_checkinevent_attendance_record_id_3e9612ec; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX attendance_checkinevent_attendance_record_id_3e9612ec ON public.attendance_checkinevent USING btree (attendance_record_id);


--
-- Name: attendance_checkinevent_geofence_id_9515c68c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX attendance_checkinevent_geofence_id_9515c68c ON public.attendance_checkinevent USING btree (geofence_id);


--
-- Name: attendance_checkinevent_user_id_87104102; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX attendance_checkinevent_user_id_87104102 ON public.attendance_checkinevent USING btree (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: geofencing__geofence_3c4f2b_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX geofencing__geofence_3c4f2b_idx ON public.geofencing_locationupdate USING btree (geofence_id, "timestamp" DESC);


--
-- Name: geofencing__user_id_3c4f2b_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX geofencing__user_id_3c4f2b_idx ON public.geofencing_locationupdate USING btree (user_id, "timestamp" DESC);


--
-- Name: geofencing_geofence_created_by_id_fb3412db; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX geofencing_geofence_created_by_id_fb3412db ON public.geofencing_geofence USING btree (created_by_id);


--
-- Name: geofencing_geofence_organization_id_d8366a67; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX geofencing_geofence_organization_id_d8366a67 ON public.geofencing_geofence USING btree (organization_id);


--
-- Name: geofencing_locationupdate_geofence_id_8298d0da; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX geofencing_locationupdate_geofence_id_8298d0da ON public.geofencing_locationupdate USING btree (geofence_id);


--
-- Name: geofencing_locationupdate_user_id_946ec203; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX geofencing_locationupdate_user_id_946ec203 ON public.geofencing_locationupdate USING btree (user_id);


--
-- Name: organizations_employeeinvite_organization_id_678b767b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX organizations_employeeinvite_organization_id_678b767b ON public.organizations_employeeinvite USING btree (organization_id);


--
-- Name: organizations_organization_subdomain_9157abbe_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX organizations_organization_subdomain_9157abbe_like ON public.organizations_organization USING btree (subdomain varchar_pattern_ops);


--
-- Name: accounts_user_groups accounts_user_groups_group_id_bd11a704_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_group_id_bd11a704_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_groups accounts_user_groups_user_id_52b62117_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_52b62117_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user accounts_user_organization_id_d808f5ca_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_organization_id_d808f5ca_fk_organizat FOREIGN KEY (organization_id) REFERENCES public.organizations_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_permission_id_113bb443_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_permission_id_113bb443_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_user_id_e4f0a161_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_user_id_e4f0a161_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: attendance_attendancesettings attendance_attendanc_organization_id_3d5bd893_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_attendancesettings
    ADD CONSTRAINT attendance_attendanc_organization_id_3d5bd893_fk_organizat FOREIGN KEY (organization_id) REFERENCES public.organizations_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: attendance_attendancerecord attendance_attendanc_organization_id_5c498be0_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_attendancerecord
    ADD CONSTRAINT attendance_attendanc_organization_id_5c498be0_fk_organizat FOREIGN KEY (organization_id) REFERENCES public.organizations_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: attendance_attendancerecord attendance_attendanc_user_id_1bb6e31f_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_attendancerecord
    ADD CONSTRAINT attendance_attendanc_user_id_1bb6e31f_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: attendance_checkinevent attendance_checkinev_attendance_record_id_3e9612ec_fk_attendanc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_checkinevent
    ADD CONSTRAINT attendance_checkinev_attendance_record_id_3e9612ec_fk_attendanc FOREIGN KEY (attendance_record_id) REFERENCES public.attendance_attendancerecord(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: attendance_checkinevent attendance_checkinev_geofence_id_9515c68c_fk_geofencin; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_checkinevent
    ADD CONSTRAINT attendance_checkinev_geofence_id_9515c68c_fk_geofencin FOREIGN KEY (geofence_id) REFERENCES public.geofencing_geofence(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: attendance_checkinevent attendance_checkinevent_user_id_87104102_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_checkinevent
    ADD CONSTRAINT attendance_checkinevent_user_id_87104102_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: geofencing_geofence geofencing_geofence_created_by_id_fb3412db_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.geofencing_geofence
    ADD CONSTRAINT geofencing_geofence_created_by_id_fb3412db_fk_accounts_user_id FOREIGN KEY (created_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: geofencing_geofence geofencing_geofence_organization_id_d8366a67_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.geofencing_geofence
    ADD CONSTRAINT geofencing_geofence_organization_id_d8366a67_fk_organizat FOREIGN KEY (organization_id) REFERENCES public.organizations_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: geofencing_locationupdate geofencing_locationu_geofence_id_8298d0da_fk_geofencin; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.geofencing_locationupdate
    ADD CONSTRAINT geofencing_locationu_geofence_id_8298d0da_fk_geofencin FOREIGN KEY (geofence_id) REFERENCES public.geofencing_geofence(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: geofencing_locationupdate geofencing_locationupdate_user_id_946ec203_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.geofencing_locationupdate
    ADD CONSTRAINT geofencing_locationupdate_user_id_946ec203_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: organizations_employeeinvite organizations_employ_organization_id_678b767b_fk_organizat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations_employeeinvite
    ADD CONSTRAINT organizations_employ_organization_id_678b767b_fk_organizat FOREIGN KEY (organization_id) REFERENCES public.organizations_organization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict IUZjFXDfU0SuvatQYlZ4uPPTy2rGX4ltc0O7FfCM4QLTHDZcJuE3iuMykhGOacI

